
extends ./layout/columns




mixin table-row( bg, hex )

    tr
        td.pad-v5.pad-h10= bg
        td.pad-v5.pad-h10= hex
        td.pad-v5.pad-h10( class="bg-" + bg )

mixin txtcolor( fg, bg )

    div.mb-12.tb-3.col.end.pad-v20( class = "bg-" + bg + " " + fg )
        span.disp-b .#{fg}

mixin bgcolor( bg, fg )

    div.mb-12.tb-3.col.end.pad-v30( class = "bg-" + bg + " " + fg )
        span.disp-b .bg-#{bg}

mixin borcolor( color )

    div.mb-12.tb-3.col.end.pad-5
        span.disp-b.mar-5.pad-v15.bor-1( class = "bor-" + color ) .bor-#{color}

mixin svgcolor( color )

    div.mb-4.tb-2.col.end.pad-0.mar-v10.pos-r( style = "height: 100px;" )
        div.pos-a.b0( style = "width: 100px; height: 90px;" class = "fill-" + color )
            block







append content

    h2.ls3 Colours

    p.f3
        | Eezo comes with the ability to change colours of some
        | properties such as <strong>text</strong>, <strong>background-color</strong>
        | and <strong>borders</strong>. The colours can also be customised in sass
        | by changing the default values or adding more colours.


    h3.ls2.mar-t100 Default Colours

    p
        | These are the default colours that come with eezo, they are
        | mostly just nice defaults for general UI purposes
        | with a slightly cool hue for greys.

    p
        | The <code>black</code> and <code>white</code> colors are bot set 
        | to "nicer" shade with zero saturation. Where as the greys are 
        | slightly saturated with a cool hue. (<a href="http://ianstormtaylor.com/design-tip-never-use-black/">
        | why? read this.</a>)

    table.mar-t50.mb-12.txt-l.txt-sans

        thead

            tr

                th.pad-10.bor-b1 class name
                th.pad-10.bor-b1 hex value
                th.pad-10.bor-b1 example

        tbody.txt-code

            +table-row( "x", "transparent" )
            +table-row( "wht", "#ffffff" )
            +table-row( "white", "#f9f9f9" )
            +table-row( "light", "#b5b8bf" )
            +table-row( "grey", "#82848e" )
            +table-row( "dark", "#575c67" )
            +table-row( "pitch", "#161f23" )
            +table-row( "black", "#1a1a1a" )
            +table-row( "blk", "#000000" )

    h3.ls2.mar-t100 Extra Colours

    p
        | The extra colours are just some "<em>pretty OK</em>"
        | colours to jump-start your ui. They
        | only come with the <strong class="txt-sans">Core+</strong> bundle
        | and can be easily overridden with customisation in sass.

    table.mb-12.txt-l.txt-sans

        thead

            tr

                th.pad-10.bor-b1 class name
                th.pad-10.bor-b1 hex value
                th.pad-10.bor-b1 example

        tbody.txt-code

            +table-row( "silver", "#dde3e6" )
            +table-row( "gold", "#c7aa5c" )
            +table-row( "yellow", "#d6d01e" )
            +table-row( "orange", "#d66a1e" )
            +table-row( "red", "#d61e40" )
            +table-row( "pink", "#ec2666" )
            +table-row( "violet", "#981bd8" )
            +table-row( "purple", "#5930d6" )
            +table-row( "blue", "#1e9bd6" )
            +table-row( "teal", "#17b5b5" )
            +table-row( "mint", "#31e894" )
            +table-row( "green", "#1ed668" )







    h2.ls3.mar-t100 Text Colours

    p
        | Text (forground) colours can easily be applied
        | by supplying a classname of the colour you want.

    pre(data-lang="html").code
        | &lt;body class="black"&gt;
        |   has black text.
        | &lt;/body&gt;

    .row.mar-t50.txt-c.txt-sans

        +txtcolor( "x" )
        +txtcolor( "blk" )
        +txtcolor( "black" )
        +txtcolor( "pitch" )
        +txtcolor( "dark" )
        +txtcolor( "grey" )
        +txtcolor( "light" )
        +txtcolor( "white" )
        +txtcolor( "wht" )

    .row.mar-t50.txt-c.txt-sans

        +txtcolor( "silver" )
        +txtcolor( "gold" )
        +txtcolor( "yellow" )
        +txtcolor( "orange" )
        +txtcolor( "red" )
        +txtcolor( "pink" )
        +txtcolor( "violet" )
        +txtcolor( "purple" )
        +txtcolor( "blue" )
        +txtcolor( "teal" )
        +txtcolor( "mint" )
        +txtcolor( "green" )









    h2.ls3.mar-t100 Background Colours

    :marked
        Like text colours, background colours can be applied to any
        valid html element using the class: `bg-x`. Where
        "`x`" is replaced with the desired colour. Eg:

    pre(data-lang="html").code
        | &lt;body class="bg-white"&gt;
        |   has a white background.
        | &lt;/body&gt;

    .row.mar-t50.txt-c.txt-sans

        +bgcolor( "x" )
        +bgcolor( "blk" )
        +bgcolor( "black" )
        +bgcolor( "pitch" )
        +bgcolor( "dark", "white" )
        +bgcolor( "grey", "white" )
        +bgcolor( "light", "pitch" )
        +bgcolor( "white", "pitch" )
        +bgcolor( "wht", "pitch" )

    .row.mar-t50.txt-c.txt-sans

        +bgcolor( "silver", "pitch" )
        +bgcolor( "gold", "pitch" )
        +bgcolor( "yellow", "pitch" )
        +bgcolor( "orange", "white" )
        +bgcolor( "red", "white" )
        +bgcolor( "pink", "white" )
        +bgcolor( "violet", "white" )
        +bgcolor( "purple", "white" )
        +bgcolor( "blue", "white" )
        +bgcolor( "teal", "white" )
        +bgcolor( "mint", "pitch" )
        +bgcolor( "green", "pitch" )










    h2.ls3.mar-t100 Border Colours

    :marked
        It's possible to change the colour of borders
        by using the `bor-x` css class, replacing "`x`"
        with the colour desired.

    pre(data-lang="html").code
        | &lt;body class="bor-1 bor-purple"&gt;
        |   has a purple border.
        | &lt;/body&gt;

    .row.mar-t50.txt-c.txt-sans

        +borcolor( "x" )
        +borcolor( "blk" )
        +borcolor( "black" )
        +borcolor( "pitch" )
        +borcolor( "dark" )
        +borcolor( "grey" )
        +borcolor( "light" )
        +borcolor( "white" )
        +borcolor( "wht" )

    .row.mar-t50.txt-c.txt-sans

        +borcolor( "silver" )
        +borcolor( "gold" )
        +borcolor( "yellow" )
        +borcolor( "orange" )
        +borcolor( "red" )
        +borcolor( "pink" )
        +borcolor( "violet" )
        +borcolor( "purple" )
        +borcolor( "blue" )
        +borcolor( "teal" )
        +borcolor( "mint" )
        +borcolor( "green" )











    h2.ls3.mar-t100 SVG Fill Colours

    :marked
        Finally, we can also supply a colour
        for the `fill` property of `<svg>` elements. This can
        be applied directly to a path, or to the
        svg parent element to fill all it's children paths.

    pre(data-lang="html").code
        | &lt;svg class="fill-red"&gt;
        |   svg is filled red.
        | &lt;/svg&gt;

    .row.mar-t50.txt-c.txt-sans

        +svgcolor( "x" )
            include ../../assets/img/animals/panda.svg

        +svgcolor( "blk" )
            include ../../assets/img/animals/gorilla.svg

        +svgcolor( "black" )
            include ../../assets/img/animals/wolf.svg

        +svgcolor( "pitch" )
            include ../../assets/img/animals/rhino.svg

        +svgcolor( "dark" )
            include ../../assets/img/animals/bunny.svg

        +svgcolor( "grey" )
            include ../../assets/img/animals/moose.svg

        +svgcolor( "light" )
            include ../../assets/img/animals/monkey.svg

        +svgcolor( "white" )
            include ../../assets/img/animals/sloth.svg

        +svgcolor( "wht" )
            include ../../assets/img/animals/jaguar.svg


    .row.mar-t50.txt-c.txt-sans

        +svgcolor( "silver" )
            include ../../assets/img/animals/bear.svg

        +svgcolor( "gold" )
            include ../../assets/img/animals/lion.svg

        +svgcolor( "yellow" )
            include ../../assets/img/animals/squirrel.svg

        +svgcolor( "orange" )
            include ../../assets/img/animals/tiger.svg

        +svgcolor( "red" )
            include ../../assets/img/animals/fox.svg

        +svgcolor( "pink" )
            include ../../assets/img/animals/zebra.svg

        +svgcolor( "violet" )
            include ../../assets/img/animals/giraffe.svg

        +svgcolor( "purple" )
            include ../../assets/img/animals/deer.svg

        +svgcolor( "blue" )
            include ../../assets/img/animals/raccoon.svg

        +svgcolor( "teal" )
            include ../../assets/img/animals/badger.svg

        +svgcolor( "mint" )
            include ../../assets/img/animals/koala.svg

        +svgcolor( "green" )
            include ../../assets/img/animals/snake.svg

    p.f1.fs-i.txt-c.mar-v50 SVGs designed by <a href="http://www.flaticon.com/authors/freepik">freepik</a>

