
extends ./layout/columns




mixin table-row( bg, hex )

    tr
        td.pad-v2.pad-h3= bg
        td.pad-v2.pad-h3= hex
        td.pad-v2.pad-h3.bor-1dot.bor-t0.bor-light( class="bg-" + bg )

mixin txtcolor( color, bg )

    div.mb-6.tb-3.col.end.pad-v6( class = "bg-" + bg + " " + color )
        span.disp-b.f3.txt-code.fw-b .#{color}

mixin bgcolor( bg, color )

    div.mb-6.tb-3.col.end.pad-v7( class = "bg-" + bg + " " + color )
        span.disp-b.txt-code .bg-#{bg}

mixin borcolor( color )

    div.mb-6.tb-3.col.end.pad-2
        span.disp-b.mar-2.pad-v4.bor-1.txt-code( class = "bor-" + color ) .bor-#{color}

mixin svgcolor( color, bg )

    div.mb-6.tb-3.col.end.pad-4.pad-b0( class = "bg-" + bg )
        div.center( class = "fill-" + color  style = "height: 100px; width: 100px;")

            block

        p.txt-code .fill-#{color}







append content



    +main-title( "Colours" )

    +intro-text
        :marked
            Eezo comes with the ability to change colours of some
            properties such as **text**, **background-color**
            and **borders**. The colours can also be customised in sass
            by changing the default values or adding more colours.




    +sub-title( "Default Colours" )

    :marked
        These are the default colours that come with Eezo, they are
        mostly just nice defaults for general UI purposes
        with a slightly cool hue for greys.

        The `black` and `white` colors are both set
        to a *"nicer"* shade with no saturation. And the greys are 
        slightly saturated with a cool hue. [why? read 
        this.](http://ianstormtaylor.com/design-tip-never-use-black/)

    +table

        thead

            tr

                +table-head class name
                +table-head hex value
                +table-head example

        tbody.txt-code

            +table-row( "x", "transparent" )
            +table-row( "wht", "#ffffff" )
            +table-row( "white", "#f9f9f9" )
            +table-row( "light", "#b5b8bf" )
            +table-row( "grey", "#82848e" )
            +table-row( "dark", "#575c67" )
            +table-row( "pitch", "#161f23" )
            +table-row( "black", "#1a1a1a" )
            +table-row( "blk", "#000000" )




    +sub-title( "Extra Colours" )

    :marked
        The extra colours are just some *"pretty OK"*
        colours to jump-start your ui. They only come with 
        the <strong class="txt-sans">Core+</strong> bundle
        and can be easily overridden with customisation in sass.

    +table

        thead

            tr

                th.pad-10.bor-b1 class name
                th.pad-10.bor-b1 hex value
                th.pad-10.bor-b1 example

        tbody.txt-code

            +table-row( "silver", "#dde3e6" )
            +table-row( "gold", "#c7aa5c" )
            +table-row( "yellow", "#d6d01e" )
            +table-row( "orange", "#d66a1e" )
            +table-row( "red", "#d61e40" )
            +table-row( "pink", "#ec2666" )
            +table-row( "violet", "#981bd8" )
            +table-row( "purple", "#5930d6" )
            +table-row( "blue", "#1e9bd6" )
            +table-row( "teal", "#17b5b5" )
            +table-row( "mint", "#31e894" )
            +table-row( "green", "#1ed668" )




    +sub-title( "Text Colours" )

    :marked
        Text (forground) colours can easily be styled
        by supplying a classname of the colour you want. This
        also applies for any custom colours you define.


    :prismjs( language = "html" )
        <body class="black">
          has black text.
        </body>

    .row.mar-t6.txt-c.txt-sans

        +txtcolor( "x", "silver" )
        +txtcolor( "wht", "silver" )
        +txtcolor( "white", "silver" )
        +txtcolor( "light", "silver" )
        +txtcolor( "grey" )
        +txtcolor( "dark" )
        +txtcolor( "pitch" )
        +txtcolor( "black" )
        +txtcolor( "blk" )

    .row.mar-t6.txt-c.txt-sans

        +txtcolor( "silver" )
        +txtcolor( "gold" )
        +txtcolor( "yellow" )
        +txtcolor( "orange" )
        +txtcolor( "red" )
        +txtcolor( "pink" )
        +txtcolor( "violet" )
        +txtcolor( "purple" )
        +txtcolor( "blue" )
        +txtcolor( "teal" )
        +txtcolor( "mint" )
        +txtcolor( "green" )




    +sub-title( "Background Colours" )

    :marked
        Like text colours, background colours can be applied to any
        valid html element using the class: `bg-x`. Where
        `x` is replaced with the desired colour. Eg:

    :prismjs( language = "html" )
        <body class="bg-white">
          has a white background.
        </body>

    .row.mar-t7.txt-c.txt-sans

        +bgcolor( "x" )
        +bgcolor( "wht", "pitch" )
        +bgcolor( "white", "pitch" )
        +bgcolor( "light", "pitch" )
        +bgcolor( "grey", "white" )
        +bgcolor( "dark", "white" )
        +bgcolor( "pitch" )
        +bgcolor( "black" )
        +bgcolor( "blk" )

    .row.mar-t7.txt-c.txt-sans

        +bgcolor( "silver", "pitch" )
        +bgcolor( "gold", "pitch" )
        +bgcolor( "yellow", "pitch" )
        +bgcolor( "orange", "white" )
        +bgcolor( "red", "white" )
        +bgcolor( "pink", "white" )
        +bgcolor( "violet", "white" )
        +bgcolor( "purple", "white" )
        +bgcolor( "blue", "white" )
        +bgcolor( "teal", "white" )
        +bgcolor( "mint", "pitch" )
        +bgcolor( "green", "pitch" )




    +sub-title( "Border Colours" )

    :marked
        It's possible to change the colour of borders
        by using the `bor-x` css class, replacing `x`
        with the colour desired.

    :prismjs( language = "html" )
        <body class="bor-1 bor-purple">
          has a purple border.
        </body>

    .row.mar-t7.txt-c.txt-sans

        +borcolor( "x" )
        +borcolor( "wht" )
        +borcolor( "white" )
        +borcolor( "light" )
        +borcolor( "grey" )
        +borcolor( "dark" )
        +borcolor( "pitch" )
        +borcolor( "black" )
        +borcolor( "blk" )

    .row.mar-t7.txt-c.txt-sans

        +borcolor( "silver" )
        +borcolor( "gold" )
        +borcolor( "yellow" )
        +borcolor( "orange" )
        +borcolor( "red" )
        +borcolor( "pink" )
        +borcolor( "violet" )
        +borcolor( "purple" )
        +borcolor( "blue" )
        +borcolor( "teal" )
        +borcolor( "mint" )
        +borcolor( "green" )




    +sub-title( "SVG Fill Colours" )

    :marked
        Finally, we can also supply a colour
        for the `fill` property of `<svg>` elements. This can
        be applied directly to a path, or to the
        svg parent element to fill all its children's paths.

    :prismjs( language = "html" )
        <svg class="fill-red">
          svg is filled red.
        </svg>

    .row.mar-t7.txt-c.txt-sans

        +svgcolor( "x", "silver" )
            include ../../assets/img/animals/panda.svg

        +svgcolor( "wht", "silver" )
            include ../../assets/img/animals/jaguar.svg

        +svgcolor( "white", "silver" )
            include ../../assets/img/animals/sloth.svg

        +svgcolor( "light", "silver" )
            include ../../assets/img/animals/monkey.svg

        +svgcolor( "grey" )
            include ../../assets/img/animals/moose.svg

        +svgcolor( "dark" )
            include ../../assets/img/animals/bunny.svg

        +svgcolor( "pitch" )
            include ../../assets/img/animals/rhino.svg

        +svgcolor( "black" )
            include ../../assets/img/animals/wolf.svg

        +svgcolor( "blk" )
            include ../../assets/img/animals/gorilla.svg


    .row.mar-t7.txt-c.txt-sans

        +svgcolor( "silver" )
            include ../../assets/img/animals/bear.svg

        +svgcolor( "gold" )
            include ../../assets/img/animals/lion.svg

        +svgcolor( "yellow" )
            include ../../assets/img/animals/squirrel.svg

        +svgcolor( "orange" )
            include ../../assets/img/animals/tiger.svg

        +svgcolor( "red" )
            include ../../assets/img/animals/fox.svg

        +svgcolor( "pink" )
            include ../../assets/img/animals/zebra.svg

        +svgcolor( "violet" )
            include ../../assets/img/animals/giraffe.svg

        +svgcolor( "purple" )
            include ../../assets/img/animals/deer.svg

        +svgcolor( "blue" )
            include ../../assets/img/animals/raccoon.svg

        +svgcolor( "teal" )
            include ../../assets/img/animals/badger.svg

        +svgcolor( "mint" )
            include ../../assets/img/animals/koala.svg

        +svgcolor( "green" )
            include ../../assets/img/animals/snake.svg

    p.f1.fs-i.txt-c.mar-v7 SVGs designed by <a href="http://www.flaticon.com/authors/freepik">freepik</a>

